/* * {
    border: black solid 1px;
} */

body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

h1{
    margin: auto;
}

#answer-placeholder, #answer-text, #prompt-text{
    margin-bottom: 0px;
}

header>h1{
    margin-top: 0;
    margin-bottom: 0;
}

.header{
    display: flex;
    background-color: antiquewhite;
    text-align: center;
    min-height: 10vh;
    /* margin-bottom: 10px; */
}

.footer{
    background-color: antiquewhite;
    text-align: left;
    min-height: 10vh;
    /* padding: 30px 0 30px 15px; */
    /* margin-top: 10px; */
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    min-height: 80vh;
}

.sets-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 76vw;
    max-height: 75vh;
    min-height: 50vh;
    overflow-y: auto;
    gap: 5px;
}

.set-button{
    font-size: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
}

body.hasHover .set-button:hover{
    background-color: rgb(233, 214, 214);
}

.set-button:active{
    background-color: rgb(229, 251, 229);
}

.set-buttons-helper{
    font-size: clamp(.4rem, .5rem + 1vw, 2rem);
    /* font-size: .7rem; */
    display: grid;   
}

.number-terms{
    grid-template-columns: 50% 50%;
}

.button-title{
    /* background-color: #127030; */
    font-size: clamp(1rem, 1rem + 2vw, 3rem);
}

.last-visit{
    text-align: right;
    /* justify-items: end;
    justify-content: end; */
}



.searchContainer{
    display: flex;
    width: 50vw;
    justify-content: center;
    margin: 10px 0 0px;
}

.search-label{
    /* margin-right: 5px; */
}

#search{
    /* margin-right: 25px; */
}

.foundContainer{
    display: flex;
    align-items: center;
    min-height: 25px;
}

.foundText{
    margin: auto;
}

.buttons-div{
    /* margin: 10px 0px 0px; */
    min-width: 80%;
}

.learn-button{
    background: rgb(245, 214, 244);
    padding: 6px 25px;
}

.checkout-button{
    background: rgb(241, 178, 217);
    padding: 6px 25px;
}

.set-card{
    margin: 10px;
}

.title-div{
    margin: 10px 0px 0px;
}

.progress-bar-josue{
    display: flex;
    height: 10px;
    background-color: #6e6e6e;
    min-width: 95%;
}

.progress-bar-josue>div{
    border-left: #c9e4d0 solid;
    border-right: #404040 solid;
    border-top: none;
    border-width: 1px;
    /* border-style: solid; */
}

.progress-bar-josue>.progress-item-current{
    border: #FFC107 2px inset;
}

.progress-bar-item{
    flex-grow: 1;
    background-color: #a1a1a1;
}

.learning-progress{
    flex-grow: 1;
    background-color: rgb(255, 0, 0);
}

.learned-progress{
    flex-grow: 1;
    background-color: green;
}

.no-progress{
    background-color: gray;
}

.middle-div{
    display: flex;
    /* min-width: 80%; */
    /* min-height: 65vh; */
    align-items: center;
    justify-content: space-around;
}

.arrow-btn{
    background-color: beige;
    padding: 20px 5px;
    border-radius: 5px;
}

body.hasHover  .arrow-btn:hover{
    background-color: #eaea9b;
    transform: scale(1.1);
}

.big-card-div{
    width: 70vw;
    min-height: 50vh;
    /* height: 50vh; */
    position: relative;
}

.big-card{
    background-color: rgb(245, 214, 244);
    /* min-width: 96%; */
    /* height: 372px; */
    /* margin: 10px 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 2%; */
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.separator{
    border-bottom:0.05rem solid #c1a304;
}

.label{
    margin: 0px;
    color: darkmagenta;
    font-size: 0.8rem;
    font-weight: 600;
}

.prompt, .answer-div{
    font-size: clamp(1rem, 1rem + 2vw, 2rem);
}

.prompt{
    text-align: center;
    display: grid;
}

body.hasHover .answer-div:hover{
    cursor: pointer;
}

body.hasHover .answer:hover{
    color: blue;
}

.answer-div{
    text-align: center;
    display: grid;
}

.answer-placeholder{
    color: rgb(201 151 200);
}

body.hasHover .answer-div:hover .answer-placeholder{
    color: rgb(187, 117, 186);
}

.knowledge-div{
    display: flex;
    gap: 10px;
}

.learned{
    background-color: #c9e4d0;
    color: #127030;
    border-color: #127030;
}

.learning{
    background-color: #ebc3c3;
    color: #db1d1d;
    border-color: #db1d1d;
}

.learning, .learned{
    height: 66px;
    width: 100px;
    border-radius: 5px;
    border-width: 0px;
    border-style: solid;
}

body.hasHover .learning:hover,body.hasHover  .learned:hover{
    border-style: dashed;
    border-width: 2px;
}

body.hasHover .learning:hover{
    background-color: #dfa9a9;
}

body.hasHover .learned:hover{
    background-color: #9fd1ac;
}

#checked{
    border-width: 3px;
    border-style: solid;
    /* border-color: #db1d1d; */
}

.hide{
   /* visibility: hidden; */
   display: none;
}

.set-container{
    background-color: rgb(247, 199, 140);
    /* min-width: 80%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 10px;
}

.pair-card-container{
    background: rgb(245, 214, 244);
    display: flex;
    justify-content: space-between;
    padding: 3px;
    border-radius: 7px;
    border: #c1a304 solid 2px;
}

.keyDiv{
    border-right: 0.05rem solid black;
    min-width: 40%;
}

.txt-left{
    text-align: left;
}

.txt-right{
    text-align: right;
}

.keyDiv, .valueDiv{
    font-size: clamp(1rem, .6rem + 3vw, 1.5rem);
}

.disappear-right{
    animation-name: disappear-right;
    animation-duration:  2s;
    animation-fill-mode: forwards;
}

@keyframes disappear-right {
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30% {
        transform: translateX(400px) translateY(-40px) 
        scale(1.02) rotateZ(5deg) rotateY(50deg)
        rotateX(20deg);  
        background-color: rgb(208, 193, 232);;    
    }
    100%{
        transform: translateX(400px) translateY(-40px) scale(1.02);

        opacity: 0;
    }
} 

.disappear-left{
    animation-name: disappear-left;
    animation-duration:  2s;
    animation-fill-mode: forwards;
}

@keyframes disappear-left {
    10%{
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    30% {
        transform: translateX(-400px) translateY(-40px) 
        scale(1.02) rotateZ(-5deg) rotateY(50deg)
        rotateX(-20deg);    
        background-color: rgb(208, 193, 232);;    
    }
    100%{
        transform: translateX(400px) translateY(-40px) scale(1.02);

        opacity: 0;
    }
} 

/* custom boot classes */

.xwidth{
    min-width: 90%;
}

@media (min-width: 768px)
{
    .xwidth-md{
        min-width: 50%;
    }

    .progress-bar-josue{
        min-width: 50%;
    }

    .middle-div{
        max-width: 50%;
    }

    .keyDiv{
        padding-left: 5%;
    }

    .valueDiv{
        padding-right: 5%;
    }
}